
    * {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0px;

}


    body {
        background-color: #ffffff;
        overflow: hidden; /* Remove a barra de rolagem */
        display: flex
    }



    .Entrada {
        display: flex; /* Usa flexbox para o layout */
        position: relative;
        flex-direction: column; /* Deixa as caixas de texto empilhadas */
        align-items: center; /* Centraliza horizontalmente */
        justify-content: center; /* Centraliza verticalmente */
        font-family: 'Questrial', sans-serif; /*Muda a fonte */
        width: 100vw;
        height: 100vh; /* Define altura total da tela */
        gap: 20px; /* Dá espaçamento entre as caixas de texto */ 
        overflow: hidden; /* Impede barra de rolagem */
        
    }

    #login {

        display: flex; /* Usa flexbox para o layout */
        position: relative; /*Deixa o posicionamento relativo */
        width: 80%; /* Largura total */
        max-width: 600px; /* Define o tamanho máximo que ele pode alcançar */ 
        padding: 20px 20px 10px; /* Espaçamento interno */
        border-radius: 17px; /* Bordas arredondadas */
        font-family: 'Questrial', sans-serif;
        font-size: clamp(15px,3vw,20px); /* Tamanho da fonte */
        background-color: #ffc5f0; /* Cor de fundo suave */
        white-space: nowrap; /* Mantém o texto em uma única linha */
        text-overflow: clip; /* Garante que o texto não seja cortado */
        overflow: hidden; /*TIra a barra de rolage */
        resize: none; /* Impede redimensionamento pelo usuário */
        border: none; /* Remove qualquer borda */
        outline: none; /* Remove contornos que aparecem ao clicar */
        z-index: 2; /* Garante que o formulário fique acima de outros elementos */
        
    }


    #user {  /* imagem de usuário*/
        position: relative;
        justify-content: center;
        top: 5%;
        max-width: 240px;
        max-height: auto;
        width: 70%;
        height: auto;
        z-index: 2; /* Garante que a imagem fique acima de outros elementos */
        

    }


    #canto1 {
    position: absolute;
    bottom: -15%;
    left: 0%;
    max-width: 700px;
    width: 90%;
    height: auto;
    transform: rotate(4deg);
    z-index: 1;


}



    #canto2 {
        position: absolute; /* Deixa o posicionamento absoluto */
        max-width: 900px; /* Largura máxima de 900px */
        max-height: auto; /* Altura automática */
        width: 90%; /* Largura máxima de 90% */
        height: auto; /* Ajusta a altura automaticamente */
        right: -18%; /* Posiciona a imagem no canto direito */
        top: -15%; /* Posiciona a imagem no canto superior */
        transform: rotate(160deg); 
        z-index: 1;
    }
    #entrar { 
        position: relative; /* Deixa o posicionamento relativo */
        width: auto;
        height: clamp(40px, 5vh, 100px); /* Altura ajustada */
        margin-top: 20px; /* Adiciona espaço acima do botão */
        background-color: #7700ff; /* Cor de fundo azul */
        color: white; /* Texto branco */
        padding: 10px 20px; /* Espaçamento interno */
        align-items: center;
        justify-content: center ;
        font-size: clamp(16px, 3vw, 18px); /* Tamanho da fonte */
        font-family: 'Questrial', sans-serif;
        border: none; /* Remove a borda padrão */
        border-radius: 20px; /* Arredonda as bordas */
        cursor: pointer; /* Mostra a mãozinha ao passar o mouse */
        transition: background-color 0.3s ease; /* Animação suave */
        z-index: 3;
    }

    #entrar:hover {
        background-color: #ee67b6; /* Muda a cor ao passar o mouse */
    }

    #criarconta {
        width: auto;
        height: clamp(40px, 5vh, 200px);
        margin-top: 20px; /* Adiciona espaço acima do botão */
        background-color: #2f075e; /* Cor de fundo azul */
        color: white; /* Texto branco */
        padding: 10px 20px; /* Espaçamento interno */
        font-size: clamp(16px, 3vw, 18px); /* Tamanho da fonte */
        font-family: 'Questrial', sans-serif;
        border: none; /* Remove a borda padrão */
        border-radius: 20px; /* Arredonda as bordas */
        cursor: pointer; /* Mostra a mãozinha ao passar o mouse */
        transition: background-color 0.3s ease; /* Animação suave */
        position: absolute; /* Posiciona o botão de forma absoluta */
        left: 20px;
        z-index: 3;
        
        
    }
    #criarconta:hover {
        background-color: #eeacd2; /* Muda a cor ao passar o mouse */
    }

    @media (min-width: 260px) and (max-width: 450px) {
        
        #canto1 {
            width: 140%;
            bottom: -3%;
            left: -1vw;
            z-index: 1;
        }
        #canto2 {
            width: 140%;
            z-index: 1;
            right: -20%; /* Posiciona a imagem no canto direito */
            top: -2%; /* Posiciona a imagem no canto superior */
        }
        
    }
    @media (min-width: 500px) and (max-width: 1024px) {
        #canto1 {
            bottom: -4%;
            left: 0%;
            z-index: 1;
        }
        #canto2 {
            z-index: 1;
            right: -12%; /* Posiciona a imagem no canto direito */
            top: -2%; /* Posiciona a imagem no canto superior */
        }
    }
